<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
          <div class="card">

            <div class="card-header">
              <div class="card-header-title">
                <div class="column">
                  <p class="is-size-4"> You have registered for the following events </p>
                </div>
              </div>
            </div>

            <div class="card-content">
              <div class="content">
                <% @attended_events.each do |event| %>
                  <p class="is-size-5"> Event title: <%= event.event_title %> </p>
                  <p class="is-size-5"> Event date: <%= event.event_date %> </p>
                  <p class="is-size-5"> Event location: <%= event.event_location %> </p>
                  <p class="is-size-5"> <%= link_to "Show this event", event %> </p>
                  <hr class="content-divider" >
                <% end %>
              </div>
            </div>
            
          </div>

          <br/>
          <br/>

      </div>
    </div>
  </div>
</div>