<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title">Private Events</h1>
                <div id="events">
                  <% @events.each do |event| %>
                    <div class="content is-medium"> Event Title: <%= event.event_title %></div>
                    <div class="content is-medium"> Event Date: <%= event.event_date %></div>
                    <div class="content is-medium"> Event Location: <%= event.event_location %></div>
                    <div class="content is-medium"> <%= link_to "Show this event", event %></div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>