<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <h1 class="title">Create a New Event</h1>
                <%= render "form", event: @event %>
            </div>
        </div>
    </div>
</div>
